# dependencies
node_modules/

# environment variables
.env

# local uploads (NO subir PDFs al repo)
uploads/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# MacOS
.DS_Store

# VSCode
.vscode/
